.topThreeTitle, .pos1, .pos2, .pos3 {
  //  margin-left: auto;
}



.topThree {
   width: 350px;
   margin-top: 30px;
}


@media screen and (max-width: 1020px) {
   .topThree {
      width: 250px;
   }
}

@media screen and (max-width: 650px) {
   .topThree {
      font-size: 0.8rem;
      width: 180px;
   }
}

@media screen and (max-width: 460px) {
   .topThree {
      font-size: 0.7rem;
      margin-left: 10px;
   }
}