.employee {
    background-color: #EAF7EB;
    width: 150px;
    height: 250px;
    border: 1px solid black;
    border-radius: 2px;
}

.display {
    background-color: #EEFBFF;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    font-size: 2rem;
}

.plusMinus {
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
    margin-top: 10px;
    margin-left: 8px;
}

.info {
    font-size: 1rem;
    margin-left: 10px;
}

.name {
    margin-bottom: 15px;
    margin-top: 15px;
    
}

.btn {
        font-size: 2rem;
        width: 50px;
}

@media screen and (max-width: 650px) {
    .btn {
        font-size: 1.5rem;
        width: 35px;
    }
}